<div class="grid grid-cols-5 gap-4 mt-20">
  <div class="text-center p-2 flex flex-col justify-center items-center" *ngFor="let pokemon of pokemons">

    <a routerLink="/pokemons/{{pokemon.name}}">

      <img [src]="pokemon.sprites.front_default" alt="Pokemon">

      <div class="flex flex-col">
        <span> {{pokemon.id}}</span>
        <span class="capitalize text-sky-600 font-bold hover:underline hover:text-red-800">
          {{pokemon.species.name}}</span>

        <div class="flex gap-2 justify-center">
          <div *ngFor="let type of pokemon.types">

            <span class="capitalize text-sm">{{type.type.name}}</span>

          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
